@charset "utf-8";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

#gantt {
	h4.group {
		&.myGantt {
			background-color: #FEEFDC !important;
			border-color: #EF8200 !important;
		}
	}
}

.myBacklogOpenClose {
	margin-left: 10px;
}

#myMember {
	margin-top: 10px;
	> li {
		display: inline-block;
		margin-right: 10px;
		background-repeat: no-repeat;
		background-position: center left;
		@include background-size(auto 15px);
		padding-left: 18px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.unVisible {
	display: none;
}